:root {
  --coral:	#E17878;
  --green: #9eb371;
  --black: #767771;
  --cream: #E0D9D2;
}
/*   --- Typographical scales --- 24, 48, 72, 96... */
body {
  background-color: var(--cream);
  color: var(--greenL);
  font-size: 100%; /*16px*/
  line-height: 1.5; /*16px x 1.5 = 24px*/
  width: 960px;
  margin: 0 auto;
}

section{
  margin:72px 0;
  background-color: var(--green);
  padding: 24px;
  border-radius: 5px;
}

p {
  margin: 24px 0;
}

h1, h2, h3{
  font-weight: bold;
}

h1 {
  font-size: 3em; /*16px x 3 = 48px*/
  line-height: 1.5; /*48px x 1.5 = 72px*/
  margin: 72px 0;
}

h2 {
  font-size: 2em; /*16px x 2 = 32px*/
  line-height: 1.5; /*32px x 1.5 = 48px*/
  border-left: solid 5px var(--cream);
  padding-left: 19px;
}

h3 {
  font-size: 1.2em; /*16px x 1.5 = 19.2px*/
  line-height: 1.25; /*19.2px x 1.25 = 24px*/
}

.section01 h2 {
  font-Family: 'Roboto', Sans-Serif;
}

.section01 p {
  font-Family: 'Lora', Serif;
}

.section01 h3 {
  font-family: 'Courgette', cursive;
}




.section02 h2 {
  font-Family: 'Crimson Text', Serif;
}

.section02 p {
  font-Family: 'Chivo', Sans-Serif;
}

.section02 h3 {
  font-Family: 'Crimson Text', Serif;
  font-style: italic;
}




.section03 h2 {
  font-family: 'Patua One', Cursive;
}

.section03 p {
  font-family: 'Maven Pro', Sans-Serif;
}

.section03 h3 {
  font-family: 'Lobster', Cursive;
}


.section04 h2 {
  font-family: 'Abril Fatface', Cursive;
}

.section04 p {
  font-family: 'Poppins', Sans-Serif;
}

.section04 h3 {
  font-family: 'Poppins', Sans-Serif;
  font-style: italic;
}


